<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite Midtrans">

	<listeners>
		<listener class-name="resources.listeners" />
		<listener class-name="resources.ExtentReporterNG" />
	</listeners>

	<test name="Validating Payment Flow">
		<classes>
			<class name="tests.MidtransPaymentFlowTest">
				<methods>
					<include name="successPaymentFlow" />
					<include name="failedPaymentFlow" />
				</methods>
			</class>
		</classes>
	</test>

</suite> <!-- Suite -->
